Repository dhiraj-gede/cloudblitz: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

.lintstagedrc:

{
  "Server/src/**/*.{js,jsx,ts,tsx}": [
    "bash -c 'cd Server && npx eslint src --fix'",
    "npx prettier --write"
  ],
  "Server/**/*.{json,md,yml,yaml}": [
    "npx prettier --write"
  ]
}

feat(frontend): downgrade to React 18 for better compatibility
  Client/package-lock.json
  Client/package.json
Due: none

test: clean code should pass pre-commit hook
  Client/src/testFailure.ts
Due: none

feat(infra): setup monorepo with working Husky pre-commit hooks
  .husky/pre-commit
  Client/src/testFailure.ts
  package-lock.json
  package.json
Due: none

fix(infra): ensure pre-commit hook exits with correct code
  .husky/pre-commit
  Client/package.json
  PRECOMMIT_PRODUCTION.md
  Server/package.json
  package-lock.json
Due: npx prettier --write

feat(auth): Implement authentication API endpoints
  Server/src/app.ts
  Server/src/controllers/auth.controller.ts
  Server/src/lib/jwt.ts
  Server/src/lib/validation.ts
  Server/src/middlewares/auth.ts
  Server/src/middlewares/security.ts
  Server/src/routes/auth.routes.ts
  Server/test/auth.test.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

fix(auth): Fix TypeScript import issues and update pre-commit hook
  .husky/pre-commit
  Server/src/lib/jwt.ts
  Server/src/models/User.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

refactor(tests): consolidate TypeScript configuration and enhance Jest setup; remove tsconfig.test.json and add global type declarations for Express and Jest
  Server/jest.config.json
  Server/package.json
  Server/tsconfig.json
  Server/tsconfig.test.json
  Server/types/express.d.ts
  Server/types/jest.d.ts
Due: npx prettier --write

feat(users): add user management routes and implement user API tests
  Server/package.json
  Server/scripts/type-check-staged.js
  Server/src/__tests__/user.test.ts
  Server/src/app.ts
  Server/src/models/User.ts
  Server/src/routes/user.routes.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

fix(tests): add related tests execution to lint-staged configuration
  Server/package.json
Due: npx prettier --write

Refactor code structure for improved readability and maintainability
  Server/scripts/api-test.js
  Server/src/__tests__/enquiry.test.ts
  Server/src/__tests__/setup.ts
  Server/src/app.ts
  Server/src/controllers/enquiry/enquiry.controller.ts
  Server/src/controllers/user.controller.ts
  Server/src/lib/validation.ts
  Server/src/middlewares/security.ts
  Server/src/routes/enquiry.routes.ts
  Server/tsconfig.json
  Server/types/express.d.ts
  package-lock.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat(dashboard): Implement dashboard UI with enquiry management
  Client/lint-staged.config.js
  Client/package.json
  Client/src/App.tsx
  Client/src/components/auth/AuthPage.tsx
  Client/src/components/auth/LoginForm.tsx
  Client/src/components/auth/ProtectedRoute.tsx
  Client/src/components/auth/RegisterForm.tsx
  Client/src/components/dashboard/Dashboard.tsx
  Client/src/components/dashboard/SearchBar.tsx
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
  Client/src/components/enquiry/EnquiryTable.tsx
  Client/src/components/ui/dialog.tsx
  Client/src/components/ui/tabs.tsx
  Client/src/components/ui/toast.tsx
  Client/src/contexts/AuthContext.tsx
  Client/src/contexts/ToastContext.tsx
  Client/src/contexts/auth-contxt.ts
  Client/src/contexts/toast-context.ts
  Client/src/hooks/useAuth.ts
  Client/src/hooks/useToast.ts
  Client/src/index.css
  Client/src/services/api.ts
  Client/src/types/index.ts
  Client/tailwind.config.js
  Client/tsconfig.app.json
  Client/tsconfig.node.json
  Client/vite.config.ts
  package-lock.json
Due: none

feat: Implement user management functionality with CRUD operations
  Client/.dockerignore
  Server/.dockerignore
  Server/dist/__tests__/app.test.js
  Server/dist/__tests__/auth.test.js
  Server/dist/__tests__/enquiry.test.js
  Server/dist/__tests__/setup.js
  Server/dist/__tests__/user.test.js
  Server/dist/app-simple.js
  Server/dist/app.js
  Server/dist/controllers/auth.controller.js
  Server/dist/controllers/enquiry/enquiry.controller.js
  Server/dist/controllers/user.controller.js
  Server/dist/lib/config.js
  Server/dist/lib/database.js
  Server/dist/lib/jwt.js
  Server/dist/lib/response.js
  Server/dist/lib/validation.js
  Server/dist/middlewares/auth.js
  Server/dist/middlewares/errorHandler.js
  Server/dist/middlewares/security.js
  Server/dist/middlewares/validation.js
  Server/dist/models/Enquiry.js
  Server/dist/models/User.js
  Server/dist/routes/auth.routes.js
  Server/dist/routes/enquiry.routes.js
  Server/dist/routes/user.routes.js
Due: none

style(dashboard): Enhance UI layout and improve styling for enquiry management style(enquiryTable): Update table styling for better visual presentation
  Client/src/components/dashboard/Dashboard.tsx
  Client/src/components/enquiry/EnquiryTable.tsx
Due: none

feat(user-management): Add User Management component and related API functions
  Client/src/App.tsx
  Client/src/components/admin/UserManagement.tsx
  Client/src/components/admin/UserModal.tsx
  Client/src/index.css
  Client/src/services/api.ts
Due: none

feat(enquiry): Enhance EnquiryForm with user assignment and auto-assign feature
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
  Server/src/controllers/enquiry/enquiry.controller.ts
  Server/src/routes/enquiry.routes.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat(enquiry): Enhance EnquiryForm with user assignment and auto-assign feature
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
  Client/src/services/api.ts
  Client/src/types/index.ts
  Server/src/controllers/enquiry/enquiry.controller.ts
  Server/src/lib/validation.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

Refactor code structure and remove redundant sections for improved readability and maintainability
  Client/package.json
  Client/postcss.config.js
  Client/src/App.css
  Client/src/App.tsx
  Client/src/components/admin/UserManagement.tsx
  Client/src/components/auth/AuthPage.tsx
  Client/src/components/auth/LoginForm.tsx
  Client/src/components/auth/ProtectedRoute.tsx
  Client/src/components/auth/RegisterForm.tsx
  Client/src/components/dashboard/Dashboard.tsx
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
  Client/src/components/enquiry/EnquiryTable.tsx
  Client/src/components/layout/ContentHeader.tsx
  Client/src/components/layout/MobileMenu.tsx
  Client/src/components/layout/Navbar.tsx
  Client/src/components/layout/Sidebar.tsx
  Client/src/components/ui/AccessDenied.tsx
  Client/src/components/ui/AuthCard.tsx
  Client/src/components/ui/AuthCardHeader.tsx
  Client/src/components/ui/Card.tsx
  Client/src/components/ui/ErrorAlert.tsx
  Client/src/components/ui/InputField.tsx
  Client/src/components/ui/Loading.tsx
  Client/src/components/ui/LoadingButton.tsx
  Client/src/components/ui/PasswordInput.tsx
  Client/src/components/ui/SwitchAuthMode.tsx
  Client/src/components/ui/dialog.tsx
  Client/src/components/ui/index.css
  Client/src/index.css
  Client/src/services/api.ts
  Client/src/types/index.ts
  Client/tailwind.config.js
  Client/vite.config.ts
  Server/src/__tests__/enquiry.test.ts
  Server/src/controllers/enquiry/enquiry.controller.ts
  Server/src/lib/response.ts
  Server/src/middlewares/security.ts
  Server/src/routes/enquiry.routes.ts
  package-lock.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat: Implement tutorial feature for new users
  Client/package-lock.json
  Client/src/App.tsx
  Client/src/components/auth/RegisterForm.tsx
  Client/src/components/dashboard/Dashboard.tsx
  Client/src/components/dashboard/SearchBar.tsx
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
  Client/src/components/enquiry/EnquiryTable.tsx
  Client/src/components/layout/Navbar.tsx
  Client/src/contexts/AuthContext.tsx
  Client/src/contexts/TutorialContext.ts
  Client/src/contexts/TutorialProvider.tsx
  Client/src/contexts/auth-contxt.ts
  Client/src/hooks/useAuth.ts
  Client/src/hooks/useTutorial.ts
  Client/src/types/index.ts
  Client/tsconfig.app.json
  Client/tsconfig.node.json
  Server/src/controllers/auth.controller.ts
  Server/src/controllers/enquiry/enquiry.controller.ts
  Server/src/controllers/user.controller.ts
  Server/src/lib/validation.ts
  Server/src/models/User.ts
  package-lock.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat: Add react-joyride for guided tours in the application
  Client/package.json
  package-lock.json
Due: none

feat(tutorial): Update Joyride types and improve callback handling
  Client/src/contexts/TutorialProvider.tsx
  Client/src/types/joyride.d.ts
  package-lock.json
Due: none

feat(auth): Revamp AuthPage and LoginForm with improved UI and functionality
  Client/src/components/auth/AuthPage.tsx
  Client/src/components/auth/LoginForm.tsx
  Client/src/components/ui/AuthCard.tsx
Due: none

feat(tests): Add unit tests for database, security, and validation modules
  Server/src/__tests__/database.test.ts
  Server/src/__tests__/security.test.ts
  Server/src/__tests__/validation.test.ts
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

Update package-lock.json to match package.json
  Server/Dockerfile
  package-lock.json
Due: none

feat(docker): Update Dockerfiles and docker-compose for improved setup and dependency management
  Client/Dockerfile
  Client/Dockerfile.dev
  Client/package.json
  Server/.env.test
  Server/Dockerfile
  Server/Dockerfile.dev
  Server/src/app.ts
  docker-compose.dev.yml
  docker-compose.yml
  package-lock.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat(api): Add ngrok-skip-browser-warning header to API requests
  Client/src/services/api.ts
Due: none

feat(enquiry): Log form data before submission and adjust autoAssign logic
  Client/src/components/enquiry/EnquiryForm.tsx
Due: none

feat(enquiry): Log form data before submission and adjust autoAssign logic 2
  Client/src/components/enquiry/EnquiryForm.tsx
Due: none

feat(enquiry): Log form data before submission and adjust autoAssign logic 3
  Client/src/components/enquiry/EnquiryModal.tsx
  Client/src/services/api.ts
Due: none

feat(enquiry): Log form data before submission and adjust autoAssign logic 4
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
Due: none

feat(enquiry): Log form data before submission and adjust autoAssign logic 5
  Client/src/components/enquiry/EnquiryForm.tsx
  Client/src/components/enquiry/EnquiryModal.tsx
Due: none

feat(auth): Enhance validation for login and registration forms
  Client/src/components/auth/LoginForm.tsx
  Client/src/components/auth/RegisterForm.tsx
  Client/vercel.json
Due: none

Refactor code structure for improved readability and maintainability
  README.md
  Server/.env.example
  Server/.env.test
  Server/package.json
  Server/src/app.ts
  Server/src/lib/config.ts
  Server/src/routes/auth.routes.ts
  Server/src/routes/enquiry.routes.ts
  Server/src/routes/user.routes.ts
  Server/src/swaggerDef.ts
  Server/swagger.json
  Server/tsconfig.json
  package-lock.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat(docs): Update Developer Guide with setup instructions and troubleshooting tips
  ARCHITECTURE.md
  DEVELOPER_GUIDE.md
Due: none

feat(api): Update API server URL to use ngrok for external access
  Server/src/swaggerDef.ts
  Server/swagger.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write

feat(swagger): Implement dynamic Swagger generation and serve API documentation
  Server/scripts/generate-swagger.js
  Server/src/app.ts
  Server/tsconfig.json
Due: bash -c 'cd Server && npx eslint src --fix', npx prettier --write
